[profile.default]
src = 'src'
out = 'out'
libs = ['lib']

# See more config options https://github.com/foundry-rs/foundry/tree/master/config
via_ir = false # avoid stack too deep and use optimizations
optimizer_runs = 1000000
bytecode_hash = "none"
fork_block_number = 15737000

[fuzz]
# runs = 16384
runs = 256


[rpc_endpoints]
mainnet = "${ETHEREUM_RPC_URL}"

[etherscan]
mainnet = { key = "${ETHERSCAN_API_KEY}" }